listen_host = ::
listen_port = {{aiscontrol_port}}

ws_listen_host = ::
ws_listen_port = {{aiscontrol_ws_port}}

htdocs = /home/ais/htdocs
session_key = auto
session_timeout = 900
password_file = /home/ais/etc/admin_password
config_dir = /home/ais/etc/aisdispatcher
json_config = /home/ais/etc/aisdispatcher.json
networkctl = true
